# Prerequisites
*.d
*.ini

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
typora_ghorg/countly-sdk-nodejs
typora_ghorg/dictionaries
typora_ghorg/electron
typora_ghorg/electron-dl
typora_ghorg/exoframe-node2-template
typora_ghorg/extract-zip
typora_ghorg/fast-exif
typora_ghorg/fswin-aio
typora_ghorg/grunt-asar
typora_ghorg/grunt-sentry-files
typora_ghorg/grunt-strings2json
typora_ghorg/grunt-systemjs-builder
typora_ghorg/node
typora_ghorg/node-cld
typora_ghorg/node-fswin
typora_ghorg/node-innosetup-compiler
typora_ghorg/node-spellchecker
typora_ghorg/PicGo-cli
typora_ghorg/PicGo-Core
typora_ghorg/PromiseKit
typora_ghorg/typora-ash-theme
typora_ghorg/typora-default-themes
typora_ghorg/Typora-i18n
typora_ghorg/typora-issues
typora_ghorg/Typora-Lostkeys-Theme
typora_ghorg/typora-monospace-theme
typora_ghorg/typora-status-page
typora_ghorg/typora-theme-gallery
typora_ghorg/typora-theme-toolkit
typora_ghorg/typora-theme-ursine
typora_ghorg/wiki-website
typora_ghorg/winshell
typora_ghorg/winsparkle-node
