@charset "UTF-8";
/*
 * 适用于 core/typora-bear.scss。
 * 所有 typora-bear 主题，只需 import 这个文件，然后修改配色方案即可。
 */
/*
 * Default theme，适用于 core/mweb-base.scss。
 * 取值参考 chrome 默认样式：
 * https://chromium.googlesource.com/chromium/blink/+/refs/heads/main/Source/core/css/html.css
 * 所有 import "core/mweb-base.scss" 的文件都应该同时导入此变量文件。
 */
/* color */
/* font & line */
/* boxing */
/* elememts */
/* font */
/* header */
/* spacing */
/* table */
/* default color */
/**
 * 在 bear 的主题中，某些变量的取值和其他变量是绑定的。
 * 统一写在这里，这个文件应该在变量文件的最后被引入。
 */
/*
 * 基准样式，相当于 reset.css，使主题在不同平台下有统一的表现。
 * 各个属性的默认值为 chrome 的默认样式，见 variables/default.scss。
 */
:root {
  --text-color: #656065;
  --bg-color: #fbfaf9;
  --side-bar-bg-color: #fbfaf9;
  --active-file-bg-color: #fbfaf9;
  --window-border: 0 solid #fbfaf9;
  --control-text-color: #656065;
  --primary-color: #ca7cd0;
  --primary-btn-border-color: #ca7cd0;
  --active-file-border-color: #ca7cd0;
  --primary-btn-text-color: #ca7cd0;
  --item-hover-text-color: #ca7cd0;
  --meta-content-color: #ca7cd0;
  --search-select-text-color: #ca7cd0;
  --heading-char-color: #ca7cd0;
}

#write {
  line-height: 1.68;
  -webkit-text-size-adjust: 100%;
  max-width: 860px;
  margin: 0px auto;
  padding: 1.6rem 3.2rem;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, Segoe UI, PingFang SC, Microsoft Yahei, Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 16px;
  color: #656065;
  /* spacing */
  /* block */
  /* list */
  /* inline */
  /* table */
}
#write * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#write > *:first-child {
  margin-top: 0 !important;
}
#write > *:last-child {
  margin-top: 0 !important;
}
#write p, #write details, #write dl, #write ol, #write ul, #write xmp, #write plaintext, #write listing, #write blockquote, #write table, #write figure, #write hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
#write h1 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
#write h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
#write h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
#write h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
#write h5 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
#write h6 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}
#write p {
  margin-left: 0;
  margin-right: 0;
}
#write pre, #write xmp, #write plaintext, #write listing {
  font-family: var(--monospace);
}
#write blockquote > :first-child {
  margin-top: 0;
}
#write blockquote > :last-child {
  margin-bottom: 0;
}
#write hr {
  border-style: inset;
  border-width: 1px;
}
#write img {
  max-width: 100%;
  height: auto;
}
#write li {
  word-wrap: break-all;
}
#write li + li {
  margin-top: 4px;
}
#write ul ul, #write ol ul, #write ul ol, #write ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
#write .task-list-item {
  list-style-type: none;
}
#write a {
  color: #b747af;
  text-decoration: underline;
}
#write a img {
  border: none;
}
#write b, #write strong {
  font-weight: bold;
}
#write i, #write cite, #write em, #write var, #write address, #write dfn {
  font-style: italic;
}
#write code, #write kbd, #write tt, #write samp {
  font-family: var(--monospace);
}
#write mark {
  color: #656065;
  padding: 0.2em 0;
  background-color: #f2c1d1;
}
#write del, #write s {
  color: #928e93;
}
#write table {
  color: #595459;
  border-collapse: collapse;
  background-color: #fffdfd;
  border-spacing: 2px;
  font-size: 1em;
}
#write th, #write td {
  border-color: #d3c5d3;
  border-width: 1px;
  border-style: solid;
}
#write th {
  padding: 8px 8px;
  font-size: 1em;
  font-weight: 500;
}
#write td {
  padding: 8px 8px;
  font-size: 1em;
  font-weight: normal;
}

/**
 * 整体采用飞书云文档的布局规范，可以配合不同的 bear 配色方案。
 * Bear 的配色方案位于 src/themes/bear-palettes 目录。
 */
#write h1, #write h2, #write h3, #write h4, #write h5, #write h6 {
  color: #8a4aa9;
}
#write del, #write s {
  color: #928e93;
}
#write u {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #ca7cd0 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 1em;
}
#write * {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#write h1, #write h2, #write h3, #write h4, #write h5, #write h6 {
  line-height: 1.4;
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 0.37em;
}
#write blockquote {
  display: block;
  margin-left: 0;
  padding-left: 14px;
  border-left: 2px solid #ca7cd0;
}
#write code {
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #d3c5d3;
  background-color: #fffdfd;
  word-spacing: normal;
  line-height: 1.6;
  padding: 0 2px;
  color: #595459;
}
#write pre.md-fences,
#write pre.md-meta-block {
  border: 1px solid #d3c5d3;
  background-color: #fffdfd;
  border-radius: 3px;
  padding: 10px;
}
#write a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  hyphens: auto;
  word-break: break-word;
  text-decoration: none;
}
#write a:hover {
  text-decoration: underline;
}
#write hr {
  margin: 13px 0 12px;
  border: 0px;
  height: 1px;
  background-origin: content-box;
  background-image: linear-gradient(90deg, #d3c5d3, #d3c5d3);
  background-repeat: no-repeat;
}
#write ul {
  margin-left: 0;
  padding-left: 22px;
  list-style: none;
}
#write ul > li:not([class*=task-list-item]) {
  word-wrap: break-all;
  padding-left: 0px;
}
#write ul > li:not([class*=task-list-item]):before {
  position: absolute;
  top: 2px;
  content: "•";
  color: #ca7cd0;
  display: inline-block;
  margin-left: -20px;
  margin-right: 20px;
  width: 0px;
  font-size: 0.8em;
  transform: scale(1.25);
  font-family: PingFangSC-Regular, PingFang SC;
}
#write ul > li:not([class*=task-list-item]) li:not([class*=task-list-item])::before {
  content: "◦";
  transform: scale(1);
  font-weight: 700;
}
#write ul > li:not([class*=task-list-item]) li:not([class*=task-list-item]) li:not([class*=task-list-item])::before {
  content: "▪";
  transform: scale(1.25);
  font-weight: normal;
}
#write ol {
  counter-reset: ol_counter;
  margin-left: 0;
  padding-left: 22px;
  list-style: none;
}
#write ol > li:not([class*=task-list-item]) {
  word-wrap: break-all;
  padding-left: 0px;
  position: relative;
}
#write ol > li:not([class*=task-list-item]):before {
  content: counter(ol_counter) ".";
  counter-increment: ol_counter;
  color: #ca7cd0;
  position: absolute;
  margin-left: -22px;
  margin-right: 4px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
  white-space: nowrap;
  overflow: visible;
  min-width: 18px;
  border-radius: 2px;
  transform: translateX(-2px);
  font-family: Helvetica Neue, Consolas;
}
#write li + li, #write ul ul, #write ol ul, #write ul ol, #write ol ol, #write li ul, #write li ol {
  margin-top: 4px;
}
#write .task-list-item {
  padding-left: 0.3rem;
}
#write .task-list-item > p {
  transition: color 0.3s, opacity 0.3s;
}
#write .task-list-item.task-list-done > p {
  color: #928e93;
  text-decoration: line-through;
}
#write .task-list-item.task-list-done > p > .md-emoji {
  opacity: 0.5;
}
#write .task-list-item.task-list-done > p > .md-link > a {
  opacity: 0.6;
}
#write .task-list-item > input {
  -webkit-appearance: initial;
  display: block;
  position: absolute;
  border: 1px solid #d3c5d3;
  border-radius: 0.25rem;
  margin-left: -1.5rem;
  height: 1.2rem;
  width: 1.2rem;
  transition: border-color 0.3s;
  background-color: #fbfaf9;
}
#write .task-list-item > input:focus {
  outline: none;
  box-shadow: none;
}
#write .task-list-item > input:hover {
  border-color: #ca7cd0;
}
#write .task-list-item > input[checked]::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 60%;
  width: 2px;
  transform: rotate(40deg);
  background: #ca7cd0;
}
#write .task-list-item > input[checked]::after {
  content: "";
  position: absolute;
  top: 46%;
  left: 25%;
  height: 30%;
  width: 2px;
  transform: rotate(-40deg);
  background: #ca7cd0;
}
#write .cm-s-inner .cm-comment {
  color: #928e93;
}
#write .cm-s-inner .cm-property,
#write .cm-s-inner .cm-tag {
  color: #905;
}
#write .cm-s-inner .cm-bracket,
#write .cm-s-inner .cm-punctuation {
  color: #999;
}
#write .cm-s-inner .cm-number {
  color: #49a367;
}
#write .cm-s-inner .cm-qualifier,
#write .cm-s-inner .cm-string, #write .cm-s-inner .cm-string-2,
#write .cm-s-inner .cm-builtin {
  color: #ad435b;
}
#write .cm-s-inner .cm-attribute {
  color: #ad435b;
}
#write .cm-s-inner .cm-operator {
  color: #920448;
}
#write .cm-s-inner .cm-atom,
#write .cm-s-inner .cm-keyword {
  color: #8f589a;
}
#write .cm-s-inner .cm-def,
#write .cm-s-inner .cm-variable,
#write .cm-s-inner .cm-variable-2, #write .cm-s-inner .cm-variable-3 {
  color: #0E73A2;
}
#write .cm-s-inner .cm-type {
  color: #04202d;
}